body {
  margin: 0;
  background-color: #fff5e6;
  font-family: "Bungee", sans-serif;
  overflow: hidden;
}

.main-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

/* 처음엔 화면 밖에 있다가 */
.ketchup {
  position: absolute;
  top: 100px;
  left: -200px;
  width: 150px;
  transition: left 0.6s ease-out;
}

/* 등장할 때 위치 이동 + 살짝 튀는 애니메이션 */
.ketchup.show {
  left: 50px;
  animation: bounceIn 0.4s ease;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.6);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.title {
  font-size: 64px;
  color: #000000;
  text-shadow: 3px 3px #8b0000;
  margin-top: 80px;
}
