* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

.mobile-screen {
  position: absolute;
  width: 393px;
  height: 703px;
  overflow: hidden;
  background: #fff;
}

.page {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.45s ease, visibility 0.45s ease;
}

.page.active {
  opacity: 1;
  visibility: visible;
}

.logo-page {
  background: #ffffff;
}

.logo {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0;
  color: #111;
}

.splash1-page {
  position: absolute;
  inset: 0;
  display: block;
  width: 393px;
  height: 852px;
  padding: 0;
  background: #f1f1f1;
  overflow: hidden;
}

.slide-dot {
  position: absolute;
  top: 96px;
  width: 24px;
  height: 10px;
  left: 162px;
  background: #6d9e51;
  border-radius: 17px;
}

.slide-dot.dot2 {
  width: 10px;
  height: 10px;
  left: 199px;
  background: #bcd9a2;
  border-radius: 9999px;
}

.slide-dot.dot3 {
  width: 10px;
  height: 10px;
  left: 222px;
  background: #bcd9a2;
  border-radius: 9999px;
}

.splash-img {
  position: absolute;
  left: 24px;
  top: 193px;
  width: 346px;
  height: 359px;
  object-fit: contain;
}

.splash-title {
  position: absolute;
  left: 47px;
  top: 639px;
  margin: 0;
  color: black;
  font-size: 32px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  line-height: 29px;
}

.splash-desc {
  position: absolute;
  left: 47px;
  top: 683px;
  width: 300px;
  margin: 0;
  color: black;
  font-size: 18px;
  font-family: Arial, sans-serif;
  font-weight: 300;
  line-height: 29px;
}
