:root {
  --bg-color: rgb(103, 161, 107);
  /* green theme */
  --my-padding: 10px;
  --my-borders: 24px;
}

audio,
video {
  display: block;
  margin-bottom: 20px;
}

video {
  width: 600px;
  height: 400px;
}

button {
  padding: var(--my-padding);
  font-size: 1.2rem;
  border-radius: var(--my-borders);
  margin-right: 10px;
  cursor: pointer;
  background-color: var(--bg-color);
}

button:hover {
  scale: 0.9;
}
