@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --col01: black;
  --col02: white;
  --col03: red;
  --col04: blue;
  --border: single 1rem var(--col03);
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

.scroll-wrapper {
  height: 1080px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* y축 스크롤 + 스냅 강제 */
}

.screen {
  height: 1080px; /* 화면 한 장 */
  scroll-snap-align: start; /* 각 섹션이 시작점에 붙음 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  background-color: var(--col02);
  color: var(--col01);
  line-height: 1.6;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  color: var(--col01);
  text-align: center;
  margin: 1rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--col01);
  text-align: center;
  margin: 1rem 0;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--col01);
  text-align: center;
  margin: 1rem 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--col01);
  text-align: center;
  margin: 1rem 0;
}
