@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --col01: black;
  --col02: white;
  --col03: red;
  --col04: blue;
  --border: single 1rem var(--col02);
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: lighter;
  background-color: var(--col02);
  color: var(--col03);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
