@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --col01: black;
  --col02: white;
  --col03: red;
  --col04: blue;
  --border: single 1rem var(--col02);
}
